body{
    margin: 0;
    padding: 0;
}
p{
    color: white;
    margin: 0;
    font-size: 25px;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    border: 0px;

}

.abc{
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    background-color: red;
    padding: 10px;
    /* border: 20px solid black; */
}

.ghj{
    background-color: blueviolet;
    width: 300px;
    /* padding: 20px; */
    /* height: 300px; */
}