*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20rem;
    font-weight: 300;
    user-select: none;
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: grey;
    font-style:italic;
}